/* this is required for proper styling */
body,
html {
  height: 100%;
}

/*CSS for index page*/

/*style for image carousel caption text*/
.carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  /* for transparency of caption text to make it visible on all background images */

  margin-bottom: 10px;
  text-align: left;
  padding-bottom: 0;
  padding-left: 1%;
  left: 10%;
  right: 10%;
  font-size: 1.7em;
}

/* CSS for Movies page */

/* movies page navbar styling */
.navbar#movies-navbar {
  background-color: indigo;
  /* width: 100%; */
}

/*this is used to affect the background image*/
#bgimage {
  position: fixed;
  display: block;
  background-image: url("images2/bgwhite.jpg");
  height: 100%;
  width: 100%;

      /* -webkit-filter: saturate(1);
  -moz-filter: saturate(1);
  -o-filter: saturate(1);
  -ms-filter: saturate(1);
  filter:saturate(1); */

  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Properties of text to appear over the image */
.movies-content {
  color: DarkCyan;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
}

/* Properties of text description to appear over the image. */
p.movies-text {
  font-size: 2em;
  font-weight: 600;
  /* font-family: Tahoma, Verdana; */
}

/*Below is the CSS for Wild cats page*/

/* Cats page navbar styling */
.navbar#cats-navbar {
  background-color: darkgreen;
}

/*This class specifies the properties for tooltip and its text*/
.tiptext {
  visibility: hidden;
  top: 0;
  left: 0;
  color: white;
  background: rgba(30, 130, 76, 0.85);
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 15px;
  position: fixed;
  z-index: 999;
}

/* Properties of the animals to be displayed */
/* Max-height and min-height are specified to make all images look same height: purely by hit & trial check on most devices */
img.cats {
  width: 100%;
  max-height: 370px;
  min-height: 250px;
}

/* This describes the background image properties for the animals */
.cats-bg {
  min-height: 100%;
  width: 100%;
  background-image: url("images3/jungle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* CSS for thanks page */

/* This defines the animated text properties. Borrowed from W3-schools */
.glow {
  margin-top: 5%;
  font-size: 10vw;
  font-family: cursive;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

/* Describe the animation effect */
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 30px #fff, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
      0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 90px #ff4da6;
  }
}
